<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.b2.Sinnanda.mapper.AccomMapper">
	
	<!-- [이원희] 숙소 List Map -->
	<resultMap type="com.b2.Sinnanda.vo.Accom" id="AccomListMap">
		<id column="accom_no" property="accomNo"/>
		<result column="host_no" property="hostNo"/>
		<result column="admin_no" property="adminNo"/>
		<result column="commission_no" property="commissionNo"/>
		<result column="accom_name" property="accomName"/>
		<result column="accom_img" property="accomImg"/>
		<result column="accom_description" property="accomDescription"/>
		<result column="create_date" property="createDate"/>
		<result column="update_date" property="updateDate"/>
	</resultMap>

	<!-- [이원희] 숙소 목록 조회 -->
	<select id="selectAccomListByName" parameterType="Map" resultMap="AccomListMap">
		SELECT accom_no, 
			   host_no, 
			   admin_no, 
			   commission_no, 
			   accom_name, 
			   accom_img, 
			   accom_description, 
			   create_date, 
			   update_date 
			   FROM accom WHERE accom_name LIKE CONCAT('%',#{accomName},'%') ORDER BY create_date DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<!-- [이원희] 검색 대상 숙소 갯수 조회-->
	<select id="selectAccomTotalCount" parameterType="String" resultType="int">
		SELECT 
			COUNT(*) 
		FROM accom WHERE accom_name LIKE CONCAT('%',#{accomName},'%')
	</select>
	
	<!-- [이원희] 검색 대상 숙소 별점 조회 -->
	<select id="selectAccomRank" parameterType="Map" resultType ="double">
		SELECT ((sum(rev.review_rank)/COUNT(rev.review_rank))*10) 
		FROM accom a 
		LEFT JOIN room r ON r.accom_no = a.accom_no 
		LEFT JOIN reserve re ON r.room_no = re.room_no 
		LEFT JOIN payment pa ON pa.reserve_no = re.reserve_no 
		LEFT JOIN review rev ON rev.payment_no = pa.payment_no
		WHERE a.accom_name LIKE CONCAT('%',#{accomName},'%')
		GROUP BY a.accom_no ORDER BY a.create_date DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<!-- [이원희] 숙소 One Map -->
	<resultMap type="com.b2.Sinnanda.vo.Room" id="RoomMap">
		<id column="room_no" property="roomNo"/>
		<result column="accom_no" property="accomNo"/>
		<result column="room_name" property="roomName"/>
		<result column="room_main_img" property="roomMainImg"/>
		<result column="room_description" property="roomDescription"/>
		<result column="room_person" property="roomPerson"/>
		<result column="room_price" property="roomPrice"/>
		<result column="room_check_in" property="roomCheckIn"/>
		<result column="room_check_out" property="roomCheckOut"/>
		<result column="room_use" property="roomUse"/>
		<result column="create_date" property="createDate"/>
		<result column="update_date" property="updateDate"/>
	</resultMap>
	
	<!-- [이원희] 숙소 정보조회-->
	
	<select id="selectAccomOne" parameterType="Integer" resultMap ="AccomListMap">
	SELECT accom_no, 
			   host_no, 
			   admin_no, 
			   commission_no, 
			   accom_name, 
			   accom_img, 
			   accom_description, 
			   create_date, 
			   update_date 
			   FROM accom WHERE accom_no = #{accomNo}
	</select>
	<!-- [이원희] 숙소 객실 리스트 조회
	
	<select id="selectAccomOne" parameterType="Integer" resultMap="RoomMap">
	SELECT r.*
		FROM room r 
		LEFT JOIN accom a ON r.accom_no = a.accom_no
		WHERE a.accom_no = #{accomNo}
	</select>
	 -->
</mapper>