<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.b2.Sinnanda.mapper.AdminMapper">
	
 
	
	<!-- [윤경환] 관리자회원가입 -->
	<insert id = "insertAdmin" parameterType="com.b2.Sinnanda.vo.Admin">
		INSERT INTO admin(
				admin_id, 
				admin_pw,
				admin_position_no,
				admin_name,
				member_level,
				create_date,
				update_date
			)VALUES (
				#{adminId},
				#{adminPw},
				#{adminPositionNo},
				#{adminName},	
				'3',
				NOW(),
				NOW()
				)
	</insert>
	
	<!--[윤경환] AdminOne Map -->
	<resultMap type="" id="AdminOneMap">
	
	</resultMap>
	
	
	<!--[윤경환]관리자 세부내용 -->
	<select id="selectAdminOne" parameterType="Map" resultMap="AdminOneMap">
		SELECT 
			a.admin_id,
			a.admin_name,
			ap.admin_position,
			ap.admin_level,
			a.update_date 
 			FROM admin AS a 
 	LEFT JOIN admin_position AS ap 
 	ON a.admin_position_no = ap.admin_position_no 
 	WHERE a.admin_id =#{adminId}
	
	</select>
</mapper>
