<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.b2.Sinnanda.mapper.AdminMapper">
	
 
	
	<!-- [윤경환] 관리자회원가입 -->
	<insert id = "insertAdmin" parameterType="com.b2.Sinnanda.vo.Admin">
		INSERT INTO admin(
				admin_id, 
				admin_pw,
				admin_position_no,
				admin_name,
				member_level,
				create_date,
				update_date
			)VALUES (
				#{adminId},
				#{adminPw},
				#{adminPositionNo},
				#{adminName},	
				'3',
				NOW(),
				NOW()
				)
	</insert>
	
	<!--[윤경환] AdminOne Map -->
	<resultMap type="com.b2.Sinnanda.vo.Admin" id="AdminOneMap">
		<id column="admin_id" property="adminId"></id>
		<id column="admin_name" property="adminName"></id>
		<id column="admin_position" property="adminPosition"></id>
		<id column="admin_level" property="adminLevel"></id>
		<id column="update_date" property="updateDate"></id>
	</resultMap>
	
	<!--[윤경환]관리자 세부내용 -->
	<select id="selectAdminOne" parameterType="Map" resultMap="AdminOneMap">
		SELECT 
			a.admin_id,
			a.admin_pw,
			a.admin_name,
			ap.admin_position,
			ap.admin_level,
			a.update_date 
 			FROM admin AS a 
 	LEFT JOIN admin_position AS ap 
 	ON a.admin_position_no = ap.admin_position_no 
 	WHERE a.admin_No =#{adminNo}
	</select>
	
	<!--[윤경환] modifyAdmin Map -->
	<resultMap type="com.b2.Sinnanda.vo.Admin" id="modifyAdmin">
		<id column="admin_no" property="adminNo"></id>
		<id column="admin_id" property="adminId"></id>
		<id column="admin_pw" property="adminPw"></id>
		<id column="admin_name" property="adminName"></id>
		<id column="admin_position" property="adminPosition"></id>
	</resultMap>
	
	
	<!-- [윤경환] 관리자 내용 수정 폼으로 이동  -->
	<select id="modifyAdmin" parameterType="Map" resultMap="modifyAdmin">
		SELECT 	
			a.admin_no,
			a.admin_id, 
			a.admin_pw,
			a.admin_name,
			ap.admin_position
		FROM 
			admin AS a
			LEFT JOIN 
			admin_position AS ap
		ON	a.admin_position_no = ap.admin_position_no 
		WHERE a.admin_id = #{adminId} AND a.admin_pw =#{adminPw}
 
	</select>
	
	<!-- [윤경환] 관리자 내용 수정 -->
	<update id="modifyAdminForm" parameterType="com.b2.Sinnanda.vo.Admin">
		UPDATE admin SET 
			admin_pw = #{adminPw},
			admin_name = #{adminName}
		WHERE admin_no = #{adminNo}
	</update>	
	
	<!--[윤경환] modifyAdmin Map -->
	<resultMap type="com.b2.Sinnanda.vo.Admin" id="selectAdminName">
		<id column="admin_name" property="adminName"></id>
		<id column="admin_pw" property="adminPw"></id>
	</resultMap>
	
	
	<!--[윤경환]  관리자 이름 및 비번 가져오기-->
	<select id="selectAdminName"  parameterType="Map" resultMap="modifyAdmin">
			SELECT 
				admin_name,
				admin_pw
				FROM admin 
				WHERE admin_no = #{adminNo}
	</select>
	
</mapper>
