<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.b2.Sinnanda.mapper.HostQnaMapper">
	
<!-- 관리자 쿼리 -->
	
	<!-- [이승준] selectHostQnaListByHostQnaCategory.hostQnAListMap -->
	<resultMap type="com.b2.Sinnanda.vo.HostQna" id="noCommentsHostQnaListMap">
		<id column="host_qna_no" property="hostQnaNo"/>
		<result column="host_no" property="hostNo"/>
		<result column="host_qna_category" property="hostQnaCategory"/>
		<result column="host_qna_state" property="hostQnaState"/>
		<result column="host_qna_title" property="hostQnaTitle"/>
		<result column="host_qna_content" property="hostQnaContent"/>
		<result column="host_qna_upload_file" property="hostQnaUploadFile"/>
		<result column="create_date" property="createDate"/>
		<result column="host_name" property="hostName"/>
	</resultMap>
	
	<!-- [이승준] 답변이 없는 Host QnA 목록 조회 -->
	<select id="selectNoCommentsHostQnaList" parameterType="Map" resultMap="noCommentsHostQnaListMap">
		SELECT 
			hq.host_qna_no, 
			hq.host_no, 
			hq.host_qna_category,
			hq.host_qna_state, 
			hq.host_qna_title, 
			hq.host_qna_content, 
			hq.host_qna_upload_file, 
			hq.create_date, 
			h.host_name
		FROM host_qna hq 
		LEFT JOIN host h ON hq.host_no = h.host_no
		LEFT JOIN host_qna_comment hqc ON hq.host_qna_no = hqc.host_qna_no
		<if test="hostQnaCategory != null">
			<where>
				hqc.admin_no IS NULL AND hq.host_qna_category = #{hostQnaCategory}
			</where>
		</if>
		<if test="hostQnaCategory == null">
			<where>
				hqc.admin_no IS NULL
			</where>
		</if>
		ORDER BY hq.create_date DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<!-- [이승준] 답변이 없는 Host QnA 개수 조회 -->
	<select id="selectNoCommentsHostQnaTotalCount" parameterType="Map" resultType="int">
		SELECT 
			COUNT(*) 
		FROM host_qna hq 
		LEFT JOIN host_qna_comment hqc ON hq.host_qna_no = hqc.host_qna_no
		<if test="hostQnaCategory != null">
				<where>
					hqc.admin_no IS NULL AND host_qna_category = #{hostQnaCategory}
				</where>
			</if>
			<if test="hostQnaCategory == null">
				<where>
					hqc.admin_no IS NULL
				</where>
			</if>
	</select>
	
<!-- 사업자 쿼리 -->
	
	<!-- [이승준] Host QnA 삽입 -->
	<insert id="insertHostQna" parameterType="com.b2.Sinnanda.vo.HostQna">
		INSERT INTO host_qna(
			host_no, 
			host_qna_category, 
			host_qna_title, 
			host_qna_content, 
			host_qna_upload_file, 
			create_date, 
			update_date
		) VALUES (
			#{hostNo}, 
			#{hostQnaCategory}, 
			#{hostQnaTitle}, 
			#{hostQnaContent}, 
			#{hostQnaUploadFile}, 
			NOW(), 
			NOW()
		)
		<selectKey keyProperty="hostQnaNo" order="AFTER" resultType="int">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>

<!-- 공통(사업자/관리자) 쿼리 -->
	
	<!-- [이승준] QnA One Map -->
	<resultMap type="com.b2.Sinnanda.vo.HostQna" id="HostQnaOneMap">
		<id column="host_qna_no" property="hostQnaNo"/>
		<result column="host_no" property="hostNo"/>
		<result column="host_name" property="hostName"/>
		<result column="host_qna_category" property="hostQnaCategory"/>
		<result column="host_qna_state" property="hostQnaState"/>
		<result column="host_qna_title" property="hostQnaTitle"/>
		<result column="host_qna_content" property="hostQnaContent"/>
		<result column="host_qna_upload_file" property="hostQnaUploadFile"/>
		<result column="create_date" property="createDate"/>
		<result column="update_date" property="updateDate"/>
		<!--[이승준] Host QnA에 답변한 admin의 이름 -->
		<result column="admin_name" property="adminName"/>
		<!-- [이승준] Host QnA에 대한 답변 -->
		<collection property="hostQnaComments" ofType="com.b2.Sinnanda.vo.HostQnaComment">
			<result column="admin_no" property="adminNo"/>
			<result column="host_qna_comment_content" property="hostQnaCommentContent"/>
			<result column="comment_date" property="commentDate"/>
		</collection>
	</resultMap>
	
	<!-- [이승준] QnA 상세 조회 -->
	<select id="selectHostQnaOne"  parameterType="int" resultMap="HostQnaOneMap">
		SELECT 
			hq.host_qna_no, 
			hq.host_no, 
			h.host_name, 
			hq.host_qna_category,
			hq.host_qna_state, 
			hq.host_qna_title, 
			hq.host_qna_content, 
			hq.host_qna_upload_file, 
			hq.create_date, 
			hq.update_date, 
			hqc.admin_no, 
			a.admin_name, 
			hqc.host_qna_comment_content, 
			hqc.comment_date
		FROM host_qna hq 
		LEFT JOIN host_qna_comment hqc 
			ON hq.host_qna_no = hqc.host_qna_no
		LEFT JOIN host h
			ON hq.host_no = h.host_no
		LEFT JOIN admin a 
			ON hqc.admin_no = a.admin_no
		WHERE hq.host_qna_no = #{hostQnaNo}
	</select>
	
	<!-- [이승준] selectHostQnaListByHostQnaCategory.hostQnAListMap -->
	<resultMap type="com.b2.Sinnanda.vo.HostQna" id="HostQnaListMap">
		<id column="host_qna_no" property="hostQnaNo"/>
		<result column="host_no" property="hostNo"/>
		<result column="host_qna_category" property="hostQnaCategory"/>
		<result column="host_qna_state" property="hostQnaState"/>
		<result column="host_qna_title" property="hostQnaTitle"/>
		<result column="host_qna_content" property="hostQnaContent"/>
		<result column="host_qna_upload_file" property="hostQnaUploadFile"/>
		<result column="create_date" property="createDate"/>
		<result column="host_name" property="hostName"/>
		
		<collection property="hostQnaComments" ofType="com.b2.Sinnanda.vo.HostQnaComment">
			<result column="admin_no" property="adminNo"/>
		</collection>
	</resultMap>
	
	<!-- [이승준] Host QnA 목록 조회 (분기 : 사업자/관리자) -->
	<!-- userLevel에 따라 사업자, 관리자를 구분하여 조회 -->
	<select id="selectHostQnaListByHostQnaCategory" parameterType="Map" resultMap="HostQnaListMap">
		SELECT 
			hq.host_qna_no, 
			hq.host_no, 
			hq.host_qna_category,
			hq.host_qna_state, 
			hq.host_qna_title, 
			hq.host_qna_content, 
			hq.host_qna_upload_file, 
			hq.create_date, 
			h.host_name, 
			hqc.admin_no
		FROM host_qna hq 
		LEFT JOIN host h ON hq.host_no = h.host_no
		LEFT JOIN host_qna_comment hqc ON hq.host_qna_no = hqc.host_qna_no
		<!-- [이승준] 사업자가 접근하는 경우 -->
		<if test="userLevel == 2">
			<if test="hostQnaCategory != null">
				<where>
					hq.host_no = #{hostNo} AND hq.host_qna_category = #{hostQnaCategory}
				</where>
			</if>
			<if test="hostQnaCategory == null">
				<where>
					hq.host_no = #{hostNo}
				</where>
			</if>
		</if>
		<!-- [이승준] 관리자가 접근하는 경우 -->
		<if test="userLevel == 3">
			<if test="hostQnaCategory != null">
				<where>
					hq.host_qna_category = #{hostQnaCategory}
				</where>
			</if>
		</if>
		ORDER BY hq.create_date DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<!-- [이승준] Host QnA 개수 조회 (분기 : 사업자/관리자) -->
	<select id="selectHostQnaTotalCount" parameterType="Map" resultType="int">
		SELECT 
			COUNT(*) 
		FROM host_qna
		<!-- [이승준] 사업자가 접근하는 경우 -->
		<if test="userLevel == 2">
			<if test="hostQnaCategory != null">
				<where>
					host_no = #{hostNo} AND host_qna_category = #{hostQnaCategory}
				</where>
			</if>
			<if test="hostQnaCategory == null">
				<where>
					host_no = #{hostNo}
				</where>
			</if>
		</if>
		<!-- [이승준] 관리자가 접근하는 경우 -->
		<if test="userLevel == 3">
			<if test="hostQnaCategory != null">
				<where>
					host_qna_category = #{hostQnaCategory}
				</where>
			</if>
		</if>
	</select>
</mapper>