<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.b2.Sinnanda.mapper.MemberMapper">
  
   <resultMap type="com.b2.Sinnanda.vo.Member" id="resultMember">
      <result column="member_no" property="memberNo"/>
      <result column="member_id" property="memberId"/>
      <result column="member_pw" property="memberPw"/>
      <result column="member_name" property="memberName"/>
      <result column="member_age" property="memberAge"/>
      <result column="member_tel" property="memberTel"/>
      <result column="member_email" property="memberEmail"/>
      <result column="create_date" property="createDate"/>
      <result column="update_date" property="updateDate"/>      
   </resultMap>
     
     <!-- 마이페이지 -->
	<select id="selectMyPage" parameterType="com.b2.Sinnanda.vo.Member" resultMap="resultMember">
		SELECT
			member_id,
			member_name,
			member_age,
			member_tel,
			member_email
		WHERE member_no = #{memberNo}
	</select>
  
	<!-- 회원 정보 수정 -->
	<update id="updateMember" parameterType="com.b2.Sinnanda.vo.Member">
		UPDATE member 
	    SET
	        member_id = #{memberId},
	        member_pw = #{memberPw},
	        member_name = #{memberName},
	        member_age = #{memberAge},
	        member_tel = #{memberTel},
	        update_date = NOW()
	    WHERE member_no = #{memberNo}
	</update>

	<!-- [김영후] 회원 가입 -->
	<insert id="insertMember" parameterType="com.b2.Sinnanda.vo.Member">
		INSERT INTO 
			member(
				member_id, 
				member_pw, 
				member_name, 
				member_age, 
				member_tel, 
				member_email, 
				member_certifycode, 
				create_date, 
				update_date
			) VALUES (
				#{memberId}, 
				#{memberPw}, 
				#{memberName}, 
				#{memberAge}, 
				#{memberTel}, 
				#{memberEmail}, 
				#{memberCertifycode}, 
				NOW(), 
				NOW()
			)
	</insert>
	
	<!-- [김영후] 회원가입 이메일 인증 -->
	<select id="certifyMember" parameterType="com.b2.Sinnanda.vo.Member" resultType="int">
		SELECT COUNT(*) 
		FROM member 
		WHERE 
			member_id = #{memberId}
			AND 
			member_certifycode = #{memberCertifycode}
	</select>
	<!-- [김영후] 로그인 시 회원 이메일 인증여부 확인 21.12.10 -->
	<select id="selectCertifyMember" parameterType="com.b2.Sinnanda.vo.Member" resultType="int">
		SELECT member_active 
		FROM member
		WHERE member_id = #{memberId}	
	</select>
	<!-- [김영후] 인증 된 회원 활성화 -->
	<update id="certifyMemberUpdate" parameterType="com.b2.Sinnanda.vo.Member">
		UPDATE member 
		SET member_active = 1
		WHERE 
			member_id = #{memberId}
	</update>
	
   	<!-- [김영후] 회원 탈퇴 -->
	<delete id="deleteMember" parameterType="com.b2.Sinnanda.vo.Member">
		DELETE FROM member
		WHERE 
		member_id=#{memberId}
		AND
		member_pw=#{memberPw}
	</delete>
	<!-- [김영후] 탈퇴 멤버 데이터 추가 -->
	<insert id="insertMemberOut" parameterType="com.b2.Sinnanda.vo.MemberOut">
		INSERT INTO 
		member_out(
			member_id, 
			out_date, 
			out_reason
		) VALUES(
			#{memberId}, 
			NOW(), 
			#{outReason})
	</insert>   
	
	<!-- [김영후] 회원가입 시 ID 중복체크 -->
	<select id="checkId" parameterType="String" resultType="int">
		SELECT COUNT(member_id) FROM(
			SELECT member_id FROM member WHERE member_id = #{memberId}
			UNION
			SELECT member_id FROM member_out WHERE member_id = #{memberId}
			) AS u
	</select>
</mapper>