<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.b2.Sinnanda.mapper.MemberAddressMapper">

	<!-- [이승준] "회원 주소 상세" 조회 -->
	<select id="selectMemberAddressOne" parameterType="com.b2.Sinnanda.vo.MemberAddress">
		SELECT 
			member_no, 
			address_no, 
			address_datail, 
			create_date, 
			update_date
		FROM member_address
		WHERE member_no = #{memberNo}
	</select>
	
	<!-- [이승준] "회원 주소" 삽입 -->
	<insert id="insertMemberAddress" parameterType="com.b2.Sinnanda.vo.MemberAddress">
		INSERT INTO member_address (
			member_no, 
			address_no, 
			address_detail, 
			create_date, 
			update_date
		) VALUES (
			#{memberNo}, 
			#{addressNo}, 
			#{addressDetail}, 
			NOW(), 
			NOW()
		)
	</insert>
</mapper>